Connect4/Strategy/Strategy.v11.suo
Connect4/Strategy/Strategy.opensdf
#Compete/Compete/Release/result.txt

Connect4/Strategy/Debug/Judge.obj
Connect4/Strategy/Debug/Strategy.exp
Connect4/Strategy/Debug/Strategy.ilk
Connect4/Strategy/Debug/Strategy.lib
Connect4/Strategy/Debug/Strategy.log
Connect4/Strategy/Debug/Strategy.obj
Connect4/Strategy/Debug/Strategy.pdb
Connect4/Strategy/Debug/Strategy.write.1.tlog
Connect4/Strategy/Debug/vc110.idb
Connect4/Strategy/Debug/vc110.pdb
Connect4/Strategy/Release/CL.read.1.tlog
Connect4/Strategy/Release/Strategy.exp
Connect4/Strategy/Release/Strategy.lib
Connect4/Strategy/Release/Strategy.log
Connect4/Strategy/Release/Strategy.obj
Connect4/Strategy/Release/Strategy.pdb
Connect4/Strategy/Release/link.write.1.tlog
Connect4/Strategy/Release/vc110.pdb
Connect4/Strategy/Strategy.sdf

Connect4/Strategy/Release/Judge.obj
Connect4/Strategy/Release/Strategy.write.1.tlog
Connect4/Strategy/Release/cl.write.1.tlog
Connect4/Strategy/Release/link.read.1.tlog
